* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.body {
    width: 1440px;
    background-color: #131313;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 107px 134px 125px;
    
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation {
    
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    margin-right: 56px;
    margin-bottom: 45px;
}

.navigation a {
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);

}

.navigation a:hover, .navigation__link-active {
    color: #E3B873 !important;
    padding-bottom: 6px;
    border-bottom: 1px solid #E3B873;
}

.content {
    display: flex;
    
}

.content__image {
   width: 679px;
}

.content__text {
    margin-right: 50px;
    
}

.content__text h2,h3 {
    color: #E3B873;
    text-transform: uppercase;
    font-family: 'Yeseva One';
}

.content__text h2 {
    font-size: 27px;
    line-height: 37px;
    width: 253px;
    margin-bottom: 34px;
}

.content__text p {
    font-size: 14px;
    line-height: 27px;
    width: 442px;
    margin-bottom: 42px;

}

.content__text h3 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 9px;
}

.content__text span {
    padding-right: 20px;
    font-size: 13px;
    line-height: 21px;

}

.content__text-part-2 div {
    margin-bottom: 34px;
    width: 172px;
}

.content__text-part-2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.content__slider-tools {
    display: flex;
    gap: 29px;
}

.content__slider-tools-dots {
    display: flex;
    gap: 17px;
}

.content__slider-tools img {
    cursor: pointer;
}

.content__slider-tools-dots div{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
}

.content__slider-tools-dots div.content__slider-tools-dots_dot-active {
    background-color: #ffffff;
    
}

